:root {
  --profile-image: url("");
  --bg: rgba(145, 34, 0, 0.984);
  --bg-lighter: #727272;
  --bg-darker: rgba(14, 0, 12, 0.744);
  --primary: #ffc16f;
  --secondary: rgba(218, 51, 0, 0.733);
  --text-color: white;
  --banner-scroll-duration: 0s; /* Banner scroll speed, 0s to disable */
  --banner-image: url("");
  --banner-image-two: url(""); /* Second banner image to show if scroll enabled */
  --bg-image: url("");
  --banner-height: 300px;
  --table-width: 1200px;
  --table-image-size: 100px; /* Size of image preview in table */
}

//! REMOVE THIS
#gdpr-modal-bottom {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
  border: 0px solid hsl(0, 0%, 27%);
  border-top: 0;
  border-bottom: 0;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #3b3b3b;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8f8f8f;

  &:hover {
    background: #555;
  }
}

input {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-lighter) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--bg-lighter) !important;
  border-width: 1px;
  border-radius: 3px;
  transition: border-color 100ms;

  &:focus {
    outline: none;
    border-color: var(--primary) !important;
  }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

body {
  background-image: var(--bg-image) !important;
  background-size: cover;
  background-color: var(--bg) !important;
  color: var(--text-color);
}

a {
  color: var(--primary);
}

#list-container, .list-table-header, .list-item {
  background: transparent !important;
  background-color: transparent !important;
}

//* Main content parent div
#list-container {
  position: unset;
  margin-top: calc(var(--banner-height) + 45px);
  margin-left: unset;
  margin-right: unset;
  border: 0;
  width: 100%;

  //* Navbar background
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 46px;
    width: 100%;
    background: var(--secondary);
  }
}

//* Banner image parent
.cover-block {
  position: absolute;
  top: 46px;
  left: 0;
  margin: unset;
  height: var(--banner-height);
  width: 100%;
  overflow-x: clip;

  &::after {
    content: '';
    position: absolute;
    height: var(--banner-height);
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, var(--bg) 90%);
    pointer-events: none;
  }

  #cover-image-container {
    position: relative;
    display: block;
    padding-top: unset;
    height: var(--banner-height);
    width: auto;
  
    //* Banner img element
    #cover-image {
      content: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
      object-fit: cover;
      position: absolute;
      left: 100%;
      height: var(--banner-height);
      width: 100vw;
      max-width: 100%;
      background-image: var(--banner-image-two);
      background-size: cover;
      background-position: center;
      animation: moveSlideshow var(--banner-scroll-duration) linear infinite
    }

    //* Pseudo-elements for infinite scrolling
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: var(--banner-height);
      width: 100vw;
      background-image: var(--banner-image);
      background-size: cover;
      background-position: center;
      animation: moveSlideshow var(--banner-scroll-duration) linear infinite
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 200%;
      display: block;
      height: var(--banner-height);
      width: 100vw;
      background-image: var(--banner-image);
      background-size: cover;
      background-position: center;
      animation: moveSlideshow var(--banner-scroll-duration) linear infinite
    }
  }
}

//* Originally top part showing MAL logo, used for profile link
.header {
  position: absolute;
  top: calc(var(--banner-height) - 90px);
  //* Position left aligned to table
  left: calc((100vw - var(--table-width)) / 2 + 20px);
  z-index: 5;
  width: 350px;

  //* User details backdrop
  &::before {
    content: '';
    position: absolute;
    top: -2rem;
    left: -1.2rem;
    display: block;
    height: 150px;
    width: 440px;
    border-radius: 15px;
    background-color: var(--bg-darker);
  }

  //* MyAnimeList logo, disabled
  .header-title {
    display: none;
    z-index: 1000;
    left: 200px;
    text-indent: 0px;
  }

  .header-menu {
    position: unset;

    .btn-menu {
      font-size: 0;

      //* Username of list owner
      a.username {
        position: absolute;
        top: -1rem;
        left: 5.5rem;
        color: var(--primary);
        font-size: 1.5rem;

        //* Custom profile picture
        &::after {
          content: '';
          position: absolute;
          top: 1.1rem;
          left: -4.45rem;
          display: block;
          margin-right: 1rem;
          border-radius: 50%;
          height: 3rem;
          width: 3rem;
          background-image: var(--profile-image) !important;
          background-size: cover;
          transform: scale(1.4);
        }
      }

      //* Remove text "Viewing `username`'s list"
      > :not(a.username) {
        display: none;
      }
    }

    //* Shared anime, affinity and history
    .header-info {
      position: absolute;
      left: 5.4rem;
      bottom: -0.6rem;
      color: var(--text-color);

      a {
        color: var(--primary);
      }
    }

    //* Switch lists button
    .list-menu {
      display: block;
      top: 3.8rem;
      left: 1.5rem;
      right: unset;
      padding: 3px 0;
      border: 0;
      border-radius: 50px;
      background-color: var(--secondary);

      //* Switch lists anchor element
      .icon-menu {
        display: flex !important;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;
        height: 25px;
        width: 32px;

        &:hover {
          background-color: unset;
        }

        > * {
          position: unset !important;
        }

        //* Switch lists tooltip
        .text {
          opacity: 0;
          position: absolute !important;
          top: 0 !important;
          left: 2.5rem !important;
          padding: 0.4rem;
          border-radius: 15px;
          width: max-content;
          color: var(--text-color);
          background-color: var(--primary);
          pointer-events: none;
          transition: opacity 100ms ease-in-out;
        }

        //* Switch lists icon
        svg {
          height: 16px;
          width: 16px;
          fill: var(--text-color) !important;
        }
      }

      //* Link to switch lists tooltip show on hover
      &:hover {
        background-color: var(--primary);

        .text {
          opacity: 1;
        }

        svg {
          fill: black !important;
        }
      }
    }
  }
}

//* Positioning of entire list, including table
.list-menu-float {
  position: absolute;
  z-index: 10;
  top: calc(var(--banner-height) - 90px);

  //* Place user details left aligned to table width
  left: calc((100vw - var(--table-width)) / 2 + 30px);
  display: flex;
  flex-wrap: wrap;
  border: none;
  width: calc(var(--table-width) / 3);
  //* Fix for flex offset blocking clicks on profile image (set none for weird offset parent, then set back to all for children
  pointer-events: none;

  * {
    pointer-events: all;
  }
}

.list-menu-float .icon-menu.profile {
  margin-right: 1rem;
  border-radius: 50%;
  transform: scale(1.4);
  pointer-events: all;
  visibility: visible;

  &::after {
    content: 'Viewing your own list';
    position: absolute;
    top: -0.3rem;
    left: 3.6rem;
    width: max-content;
    font-size: 1.1rem;
    font-weight: bold;
  }
}

//TODO: Clean this
//* If client is viewing someones list, show custom picture variable, else show own profile picture
.header:has(a.username) ~ .list-menu-float .icon-menu.profile {
  pointer-events: none;
  visibility: hidden;
}

.list-menu-float .icon-menu {
  &:not(.profile) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--secondary);
    transform: translateY(1.2rem);
    transition-duration: 100ms !important;
  }

  &:not(.profile, .setting) {
    .text {
      position: absolute;
      top: 3rem;
      left: 0;
      padding: 0.3rem;
      border-radius: 15px;
      width: auto;
      background-color: var(--primary);
      transition-duration: 100ms;
    }

    &:hover {
      position: unset;
      background-color: var(--primary);
      width: 40px;
    }
  }

  &:hover svg.icon {
    fill: initial !important;
  }

  &:not(.setting) {
    svg.icon {
      position: unset;
      fill: var(--text-color);
    }

    &:hover svg.icon {
      position: unset;
    }

    .text {
      pointer-events: none;
    }
  }
}

.link-list-setting, .link-style-setting {
  background-color: var(--secondary) !important;
}

.list-menu-float {
  .icon-menu {
    &:not(.profile) {
      &:last-child {
        border-radius: 0 50% 50% 0;
      }

      &:nth-child(2) {
        border-radius: 50% 0 0 50%;
      }
    }

    &.setting {
      margin-left: 1rem;
      border-radius: 50% !important;
      cursor: pointer;

      &:hover {
        background-color: var(--primary);
        width: 40px;

        svg {
          fill: black !important;
        }
      }

      svg {
        left: unset !important;
        top: unset !important;
        fill: var(--text-color) !important;
      }

      .text {
        left: 40px;

        > a {
          transition: background-color 100ms ease-in-out;

          &:first-child {
            border-radius: 5px 5px 0 0;
          }

          &:last-child {
            border-radius: 0 0 5px 5px;
          }

          &:hover {
            background-color: var(--primary) !important;
          }
        }
      }
    }
  }

  > form {
    pointer-events: none;
  }
}

//* Top navbar
.status-menu-container {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100vw;
  width: 100dvw;
  border: none;
  background: var(--secondary) !important;
  box-shadow: 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 150ms;
  white-space: nowrap;
  overflow-x: auto;

  a {
    color: var(--text-color) !important;
  }

  .status-menu .status-button:after {
    background-color: var(--primary) !important;
  }
}

//* Entire list
.list-block {
  position: relative;
  display: flex;
  justify-content: center;

  //* Rounded corners in table section
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    background: linear-gradient(to bottom, var(--bg) 0%, rgba(255, 255, 255, 0) 3%, rgba(255, 255, 255, 0) 97%, var(--secondary) 100%);
  }

  //* Div with list title, stats, and actual list table
  .list-unit {
    margin: 0;
    width: var(--table-width);
    max-width: 100%;

    .list-status-title {
      display: flex !important;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      width: 100%;
      background-color: transparent !important;

      .text {
        display: block !important;
        padding-left: 1rem;
        width: fit-content !important;
        font-size: 1.7rem !important;
        font-weight: unset !important;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
      }

      .stats {
        position: unset;

        a {
          color: var(--primary);
        }
      }
    }

    //* Stats showing types of animes, no. of episodes, etc.
    .list-stats {
      border-radius: 5px;
      width: unset !important;
      background-color: var(--secondary) !important;
    }

    //* Actual list table styling
    .list-table {
      //* Increase table width
      display: block;
      padding: 0.25rem;
      border: 0 !important;
      border-radius: 15px;
      background-color: var(--bg-darker);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      overflow-x: auto;

      > * {
        border: 0;
      }

      > tbody {
        background: transparent;

        &:nth-of-type(2n+1) {
          background-color: unset;
        }

        //* Remove borders and make table items look nice
        &:nth-of-type(2) .status {
          border-radius: 5px 5px 0 0;
        }

        &:nth-last-of-type(1) .status {
          border-radius: 0 0 5px 5px;
        }
      }

      //* Table headers, rearranging and sizing here
      .list-table-header {
        display: grid;
        grid-template-columns: 4px [status] 32px [number] calc(var(--table-image-size) / 17 * 12) [image] 8fr [title] repeat(25, 0fr);
        margin: 8px 0;

        .header-title {
          background: transparent !important;
          padding: 0;
          border-bottom: 0 !important;
        
          * {
            color: var(--text-color) !important;
          }

          &.title {
            padding-left: 8px;
          }

          &.number, &.image, &.title, &.score, &.progress {
            display: flex;
            align-items: center;
          }

          &.number, &.image, &.score, &.progress {
            justify-content: center;
          }

          &.score {
            width: 65px;
            order: 1;
          }

          &.progress {
            width: 65px;
            order: 2;
          }

          //* Type, season
          &.type, &.started:not(:has(a)) {
            height: 18px;
            width: 95px;
            order: 3;
          }

          &.type {
            margin-right: -95px;
          }

          &.started:not(:has(a)) {
            margin-top: 18px;
          }

          //* Started, ended watch
          &.days {
            display: none;
          }

          &:nth-child(8), &:nth-child(9) {
            height: 18px;
            width: 100px;
            order: 4;
          }

          &:nth-child(8) {
            margin-right: -100px;
          }

          &:nth-child(9) {
            margin-top: 18px;
          }

          //* Start, finish aired
          &:nth-child(12), &:nth-child(13) {
            height: 18px;
            width: 100px;
            order: 5;
          }

          &:nth-child(12) {
            margin-right: -100px;
          }

          &:nth-child(13) {
            margin-top: 18px;
          }

          //* Manga list stuff
          &.chapters {
            height: 18px;
            width: 65px;
          }

          &.volumes {
            height: 18px;
            width: 65px;
          }
        }

        * {
          width: unset;
        }
      }

      //* Table data items, rearranging and sizing here
      .list-table-data {
        display: grid;
        grid-template-columns: 4px [status] 32px [number] calc(var(--table-image-size) / 17 * 12) [image] 8fr [title] repeat(25, 0fr) [misc];
        align-items: center;
        color: var(--text-color) !important;
        
        a.edit-disabled {
          color: var(--text-color);
        }

        .data {
          border: 0;

          &.status {
            height: 100%;
          }

          &.image .image {
            object-fit: cover;
            border: 0;
            border-radius: 5px;
            height: var(--table-image-size);
            width: calc(var(--table-image-size) / 17 * 12);
          }

          &.title {
            position: relative;
            display: flex;
            align-items: center;

            .add-edit-more {
              position: absolute !important;
              right: 0;
            }
          }

          &:is(.started, .finished, .type, .days, .season, .airing-started, .airing-finished) {
            display: flex;
            padding: 0;
            height: min-content;
            white-space: nowrap;

            * {
              white-space: nowrap;
            }
          }
          
          //* Score column
          &.score {
            display: flex;
            align-items: center;
            order: 1;

            > * {
              height: 16px;
              width: 65px;
            }
          }

          //* Progress column
          &.progress {
            display: flex;
            align-items: center;
            order: 2;

            > * {
              height: 16px;
              width: 65px;
            }
          }

          //* Type and season column
          &:is(.type, .season) {
            display: flex;
            justify-content: center;
            height: 16px;
            width: 95px;
            order: 3;
          }

          &.type {
            margin-top: -16px;
            margin-right: -95px;
          }

          &.season {
            margin-top: 16px;
          }

          //* Started, finished, days column
          &:is(.started, .finished, .days) {
            display: flex;
            gap: 0.2rem;
            height: 16px;
            width: 100px;
            order: 4;
          }

          &.started {
            margin-top: -32px;
            margin-right: -100px;

            &::before {
              content: 'Started:';
            }
          }

          &.finished {
            margin-right: -100px;

            &::before {
              content: 'Finished:';
            }
          }

          &.days {
            margin-top: 32px;

            &::after {
              content: 'day(s)';
            }
          }

          //* Airing dates column
          &:is(.airing-started, .airing-finished) {
            display: flex;
            gap: 0.2rem;
            height: 16px;
            width: 100px;
            order: 5;
          }

          &.airing-started {
            margin-top: -16px;
            margin-right: -100px;

            &::before {
              content: 'Aired:';
            }
          }

          &.airing-finished {
            margin-top: 16px;

            &::before {
              content: 'Ended:';
            }
          }

          //* Manga list stuff
          &.chapter {
            width: 65px;
          }

          &.volume {
            width: 65px;
          }
        }
      }
    }
  }
}

//* Footer
#footer-block {
  width: auto !important;
  background-color: var(--secondary);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;

  #copyright {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &::before {
      content: '❤ This theme was created with love for my wife Sabrina ❤';
      font-size: 1rem;
    }
  }

  * {
    color: var(--text-color) !important;
  }
}

@media (max-width: 1250px) {
  .list-menu-float {
    left: calc((100vw - var(--table-width)) / 2 + 300px);
  }

  .header {
    left: calc((100vw - var(--table-width)) / 2 + 285px);
  }
}

@keyframes moveSlideshow {
  100% {
      transform: translateX(-200%)
  }
}