@charset "UTF-8";
:root {
  --profile-image: url("");
  --bg: rgba(145, 34, 0, 0.984);
  --bg-lighter: #727272;
  --bg-darker: rgba(14, 0, 12, 0.744);
  --primary: #ffc16f;
  --secondary: rgba(218, 51, 0, 0.733);
  --text-color: white;
  --banner-scroll-duration: 0s; /* Banner scroll speed, 0s to disable */
  --banner-image: url("");
  --banner-image-two: url(""); /* Second banner image to show if scroll enabled */
  --bg-image: url("");
  --banner-height: 300px;
  --table-width: 1200px;
  --table-image-size: 100px; /* Size of image preview in table */
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
  border: 0px solid hsl(0, 0%, 27%);
  border-top: 0;
  border-bottom: 0;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #3b3b3b;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8f8f8f;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-lighter) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--bg-lighter) !important;
  border-width: 1px;
  border-radius: 3px;
  transition: border-color 100ms;
}
input:focus {
  outline: none;
  border-color: var(--primary) !important;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

body {
  background-image: var(--bg-image) !important;
  background-size: cover;
  background-color: var(--bg) !important;
  color: var(--text-color);
}

a {
  color: var(--primary);
}

#list-container, .list-table-header, .list-item {
  background: transparent !important;
  background-color: transparent !important;
}

#list-container {
  position: unset;
  margin-top: calc(var(--banner-height) + 45px);
  margin-left: unset;
  margin-right: unset;
  border: 0;
  width: 100%;
}
#list-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
  width: 100%;
  background: var(--secondary);
}

.cover-block {
  position: absolute;
  top: 46px;
  left: 0;
  margin: unset;
  height: var(--banner-height);
  width: 100%;
  overflow-x: clip;
}
.cover-block::after {
  content: "";
  position: absolute;
  height: var(--banner-height);
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, var(--bg) 90%);
  pointer-events: none;
}
.cover-block #cover-image-container {
  position: relative;
  display: block;
  padding-top: unset;
  height: var(--banner-height);
  width: auto;
}
.cover-block #cover-image-container #cover-image {
  content: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
  object-fit: cover;
  position: absolute;
  left: 100%;
  height: var(--banner-height);
  width: 100vw;
  max-width: 100%;
  background-image: var(--banner-image-two);
  background-size: cover;
  background-position: center;
  animation: moveSlideshow var(--banner-scroll-duration) linear infinite;
}
.cover-block #cover-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: var(--banner-height);
  width: 100vw;
  background-image: var(--banner-image);
  background-size: cover;
  background-position: center;
  animation: moveSlideshow var(--banner-scroll-duration) linear infinite;
}
.cover-block #cover-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 200%;
  display: block;
  height: var(--banner-height);
  width: 100vw;
  background-image: var(--banner-image);
  background-size: cover;
  background-position: center;
  animation: moveSlideshow var(--banner-scroll-duration) linear infinite;
}

.header {
  position: absolute;
  top: calc(var(--banner-height) - 90px);
  left: calc((100vw - var(--table-width)) / 2 + 20px);
  z-index: 5;
  width: 350px;
}
.header::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: -1.2rem;
  display: block;
  height: 150px;
  width: 440px;
  border-radius: 15px;
  background-color: var(--bg-darker);
}
.header .header-title {
  display: none;
  z-index: 1000;
  left: 200px;
  text-indent: 0px;
}
.header .header-menu {
  position: unset;
}
.header .header-menu .btn-menu {
  font-size: 0;
}
.header .header-menu .btn-menu a.username {
  position: absolute;
  top: -1rem;
  left: 5.5rem;
  color: var(--primary);
  font-size: 1.5rem;
}
.header .header-menu .btn-menu a.username::after {
  content: "";
  position: absolute;
  top: 1.1rem;
  left: -4.45rem;
  display: block;
  margin-right: 1rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-image: var(--profile-image) !important;
  background-size: cover;
  transform: scale(1.4);
}
.header .header-menu .btn-menu > :not(a.username) {
  display: none;
}
.header .header-menu .header-info {
  position: absolute;
  left: 5.4rem;
  bottom: -0.6rem;
  color: var(--text-color);
}
.header .header-menu .header-info a {
  color: var(--primary);
}
.header .header-menu .list-menu {
  display: block;
  top: 3.8rem;
  left: 1.5rem;
  right: unset;
  padding: 3px 0;
  border: 0;
  border-radius: 50px;
  background-color: var(--secondary);
}
.header .header-menu .list-menu .icon-menu {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  height: 25px;
  width: 32px;
}
.header .header-menu .list-menu .icon-menu:hover {
  background-color: unset;
}
.header .header-menu .list-menu .icon-menu > * {
  position: unset !important;
}
.header .header-menu .list-menu .icon-menu .text {
  opacity: 0;
  position: absolute !important;
  top: 0 !important;
  left: 2.5rem !important;
  padding: 0.4rem;
  border-radius: 15px;
  width: max-content;
  color: var(--text-color);
  background-color: var(--primary);
  pointer-events: none;
  transition: opacity 100ms ease-in-out;
}
.header .header-menu .list-menu .icon-menu svg {
  height: 16px;
  width: 16px;
  fill: var(--text-color) !important;
}
.header .header-menu .list-menu:hover {
  background-color: var(--primary);
}
.header .header-menu .list-menu:hover .text {
  opacity: 1;
}
.header .header-menu .list-menu:hover svg {
  fill: black !important;
}

.list-menu-float {
  position: absolute;
  z-index: 10;
  top: calc(var(--banner-height) - 90px);
  left: calc((100vw - var(--table-width)) / 2 + 30px);
  display: flex;
  flex-wrap: wrap;
  border: none;
  width: calc(var(--table-width) / 3);
  pointer-events: none;
}
.list-menu-float * {
  pointer-events: all;
}

.list-menu-float .icon-menu.profile {
  margin-right: 1rem;
  border-radius: 50%;
  transform: scale(1.4);
  pointer-events: all;
  visibility: visible;
}
.list-menu-float .icon-menu.profile::after {
  content: "Viewing your own list";
  position: absolute;
  top: -0.3rem;
  left: 3.6rem;
  width: max-content;
  font-size: 1.1rem;
  font-weight: bold;
}

.header:has(a.username) ~ .list-menu-float .icon-menu.profile {
  pointer-events: none;
  visibility: hidden;
}

.list-menu-float .icon-menu:not(.profile) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--secondary);
  transform: translateY(1.2rem);
  transition-duration: 100ms !important;
}
.list-menu-float .icon-menu:not(.profile, .setting) .text {
  position: absolute;
  top: 3rem;
  left: 0;
  padding: 0.3rem;
  border-radius: 15px;
  width: auto;
  background-color: var(--primary);
  transition-duration: 100ms;
}
.list-menu-float .icon-menu:not(.profile, .setting):hover {
  position: unset;
  background-color: var(--primary);
  width: 40px;
}
.list-menu-float .icon-menu:hover svg.icon {
  fill: initial !important;
}
.list-menu-float .icon-menu:not(.setting) svg.icon {
  position: unset;
  fill: var(--text-color);
}
.list-menu-float .icon-menu:not(.setting):hover svg.icon {
  position: unset;
}
.list-menu-float .icon-menu:not(.setting) .text {
  pointer-events: none;
}

.link-list-setting, .link-style-setting {
  background-color: var(--secondary) !important;
}

.list-menu-float .icon-menu:not(.profile):last-child {
  border-radius: 0 50% 50% 0;
}
.list-menu-float .icon-menu:not(.profile):nth-child(2) {
  border-radius: 50% 0 0 50%;
}
.list-menu-float .icon-menu.setting {
  margin-left: 1rem;
  border-radius: 50% !important;
  cursor: pointer;
}
.list-menu-float .icon-menu.setting:hover {
  background-color: var(--primary);
  width: 40px;
}
.list-menu-float .icon-menu.setting:hover svg {
  fill: black !important;
}
.list-menu-float .icon-menu.setting svg {
  left: unset !important;
  top: unset !important;
  fill: var(--text-color) !important;
}
.list-menu-float .icon-menu.setting .text {
  left: 40px;
}
.list-menu-float .icon-menu.setting .text > a {
  transition: background-color 100ms ease-in-out;
}
.list-menu-float .icon-menu.setting .text > a:first-child {
  border-radius: 5px 5px 0 0;
}
.list-menu-float .icon-menu.setting .text > a:last-child {
  border-radius: 0 0 5px 5px;
}
.list-menu-float .icon-menu.setting .text > a:hover {
  background-color: var(--primary) !important;
}
.list-menu-float > form {
  pointer-events: none;
}

.status-menu-container {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100vw;
  width: 100dvw;
  border: none;
  background: var(--secondary) !important;
  box-shadow: 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 150ms;
  white-space: nowrap;
  overflow-x: auto;
}
.status-menu-container a {
  color: var(--text-color) !important;
}
.status-menu-container .status-menu .status-button:after {
  background-color: var(--primary) !important;
}

.list-block {
  position: relative;
  display: flex;
  justify-content: center;
}
.list-block::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  background: linear-gradient(to bottom, var(--bg) 0%, rgba(255, 255, 255, 0) 3%, rgba(255, 255, 255, 0) 97%, var(--secondary) 100%);
}
.list-block .list-unit {
  margin: 0;
  width: var(--table-width);
  max-width: 100%;
}
.list-block .list-unit .list-status-title {
  display: flex !important;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  width: 100%;
  background-color: transparent !important;
}
.list-block .list-unit .list-status-title .text {
  display: block !important;
  padding-left: 1rem;
  width: fit-content !important;
  font-size: 1.7rem !important;
  font-weight: unset !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}
.list-block .list-unit .list-status-title .stats {
  position: unset;
}
.list-block .list-unit .list-status-title .stats a {
  color: var(--primary);
}
.list-block .list-unit .list-stats {
  border-radius: 5px;
  width: unset !important;
  background-color: var(--secondary) !important;
}
.list-block .list-unit .list-table {
  display: block;
  padding: 0.25rem;
  border: 0 !important;
  border-radius: 15px;
  background-color: var(--bg-darker);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow-x: auto;
}
.list-block .list-unit .list-table > * {
  border: 0;
}
.list-block .list-unit .list-table > tbody {
  background: transparent;
}
.list-block .list-unit .list-table > tbody:nth-of-type(2n+1) {
  background-color: unset;
}
.list-block .list-unit .list-table > tbody:nth-of-type(2) .status {
  border-radius: 5px 5px 0 0;
}
.list-block .list-unit .list-table > tbody:nth-last-of-type(1) .status {
  border-radius: 0 0 5px 5px;
}
.list-block .list-unit .list-table .list-table-header {
  display: grid;
  grid-template-columns: 4px [status] 32px [number] calc(var(--table-image-size) / 17 * 12) [image] 8fr [title] repeat(25, 0fr);
  margin: 8px 0;
}
.list-block .list-unit .list-table .list-table-header .header-title {
  background: transparent !important;
  padding: 0;
  border-bottom: 0 !important;
}
.list-block .list-unit .list-table .list-table-header .header-title * {
  color: var(--text-color) !important;
}
.list-block .list-unit .list-table .list-table-header .header-title.title {
  padding-left: 8px;
}
.list-block .list-unit .list-table .list-table-header .header-title.number, .list-block .list-unit .list-table .list-table-header .header-title.image, .list-block .list-unit .list-table .list-table-header .header-title.title, .list-block .list-unit .list-table .list-table-header .header-title.score, .list-block .list-unit .list-table .list-table-header .header-title.progress {
  display: flex;
  align-items: center;
}
.list-block .list-unit .list-table .list-table-header .header-title.number, .list-block .list-unit .list-table .list-table-header .header-title.image, .list-block .list-unit .list-table .list-table-header .header-title.score, .list-block .list-unit .list-table .list-table-header .header-title.progress {
  justify-content: center;
}
.list-block .list-unit .list-table .list-table-header .header-title.score {
  width: 65px;
  order: 1;
}
.list-block .list-unit .list-table .list-table-header .header-title.progress {
  width: 65px;
  order: 2;
}
.list-block .list-unit .list-table .list-table-header .header-title.type, .list-block .list-unit .list-table .list-table-header .header-title.started:not(:has(a)) {
  height: 18px;
  width: 95px;
  order: 3;
}
.list-block .list-unit .list-table .list-table-header .header-title.type {
  margin-right: -95px;
}
.list-block .list-unit .list-table .list-table-header .header-title.started:not(:has(a)) {
  margin-top: 18px;
}
.list-block .list-unit .list-table .list-table-header .header-title.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  order: 4;
}
.list-block .list-unit .list-table .list-table-header .header-title.days {
  display: none;
}
.list-block .list-unit .list-table .list-table-header .header-title.started:not(.started ~ .started), .list-block .list-unit .list-table .list-table-header .header-title.finished:not(.finished ~ .finished) {
  height: 18px;
  width: 100px;
  order: 5;
}
.list-block .list-unit .list-table .list-table-header .header-title.started:not(.started ~ .started) {
  margin-right: -100px;
}
.list-block .list-unit .list-table .list-table-header .header-title.finished:not(.finished ~ .finished) {
  margin-top: 18px;
}
.list-block .list-unit .list-table .list-table-header .header-title.started:not(:has(~ .started)), .list-block .list-unit .list-table .list-table-header .header-title.finished:not(:has(~ .finished)) {
  height: 18px;
  width: 100px;
  order: 6;
}
.list-block .list-unit .list-table .list-table-header .header-title.started:not(:has(~ .started)) {
  margin-right: -100px;
}
.list-block .list-unit .list-table .list-table-header .header-title.finished:not(:has(~ .finished)) {
  margin-top: 18px;
}
.list-block .list-unit .list-table .list-table-header .header-title.chapters {
  height: 18px;
  width: 65px;
}
.list-block .list-unit .list-table .list-table-header .header-title.volumes {
  height: 18px;
  width: 65px;
}
.list-block .list-unit .list-table .list-table-header * {
  width: unset;
}
.list-block .list-unit .list-table .list-table-data {
  display: grid;
  grid-template-columns: 4px [status] 32px [number] calc(var(--table-image-size) / 17 * 12) [image] 8fr [title] repeat(25, 0fr) [misc];
  align-items: center;
  color: var(--text-color) !important;
}
.list-block .list-unit .list-table .list-table-data a.edit-disabled {
  color: var(--text-color);
}
.list-block .list-unit .list-table .list-table-data .data {
  border: 0;
}
.list-block .list-unit .list-table .list-table-data .data.status {
  height: 100%;
}
.list-block .list-unit .list-table .list-table-data .data.image .image {
  object-fit: cover;
  border: 0;
  border-radius: 5px;
  height: var(--table-image-size);
  width: calc(var(--table-image-size) / 17 * 12);
}
.list-block .list-unit .list-table .list-table-data .data.title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-block .list-unit .list-table .list-table-data .data.title .add-edit-more {
  position: absolute !important;
  right: 0;
}
.list-block .list-unit .list-table .list-table-data .data:is(.started, .finished, .type, .days, .season, .airing-started, .airing-finished) {
  display: flex;
  padding: 0;
  height: min-content;
  white-space: nowrap;
}
.list-block .list-unit .list-table .list-table-data .data:is(.started, .finished, .type, .days, .season, .airing-started, .airing-finished) * {
  white-space: nowrap;
}
.list-block .list-unit .list-table .list-table-data .data.score {
  display: flex;
  align-items: center;
  order: 1;
}
.list-block .list-unit .list-table .list-table-data .data.score > * {
  height: 16px;
  width: 65px;
}
.list-block .list-unit .list-table .list-table-data .data.progress {
  display: flex;
  align-items: center;
  order: 2;
}
.list-block .list-unit .list-table .list-table-data .data.progress > * {
  height: 16px;
  width: 65px;
}
.list-block .list-unit .list-table .list-table-data .data:is(.type, .season) {
  display: flex;
  justify-content: center;
  height: 16px;
  width: 95px;
  order: 3;
}
.list-block .list-unit .list-table .list-table-data .data.type {
  margin-top: -16px;
  margin-right: -95px;
}
.list-block .list-unit .list-table .list-table-data .data.season {
  margin-top: 16px;
}
.list-block .list-unit .list-table .list-table-data .data.tags {
  width: 95px;
  order: 4;
}
.list-block .list-unit .list-table .list-table-data .data:is(.started, .finished, .days) {
  display: flex;
  gap: 0.2rem;
  height: 16px;
  width: 100px;
  order: 5;
}
.list-block .list-unit .list-table .list-table-data .data.started {
  margin-top: -32px;
  margin-right: -100px;
}
.list-block .list-unit .list-table .list-table-data .data.started::before {
  content: "Started:";
}
.list-block .list-unit .list-table .list-table-data .data.finished {
  margin-right: -100px;
}
.list-block .list-unit .list-table .list-table-data .data.finished::before {
  content: "Finished:";
}
.list-block .list-unit .list-table .list-table-data .data.days {
  margin-top: 32px;
}
.list-block .list-unit .list-table .list-table-data .data.days::after {
  content: "day(s)";
}
.list-block .list-unit .list-table .list-table-data .data:is(.airing-started, .airing-finished) {
  display: flex;
  gap: 0.2rem;
  height: 16px;
  width: 100px;
  order: 6;
}
.list-block .list-unit .list-table .list-table-data .data.airing-started {
  margin-top: -16px;
  margin-right: -100px;
}
.list-block .list-unit .list-table .list-table-data .data.airing-started::before {
  content: "Aired:";
}
.list-block .list-unit .list-table .list-table-data .data.airing-finished {
  margin-top: 16px;
}
.list-block .list-unit .list-table .list-table-data .data.airing-finished::before {
  content: "Ended:";
}
.list-block .list-unit .list-table .list-table-data .data.chapter {
  width: 65px;
}
.list-block .list-unit .list-table .list-table-data .data.volume {
  width: 65px;
}

#footer-block {
  width: auto !important;
  background-color: var(--secondary);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}
#footer-block #copyright {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#footer-block #copyright::before {
  content: "❤ This theme was created with love for my wife Sabrina ❤";
  font-size: 1rem;
}
#footer-block * {
  color: var(--text-color) !important;
}

@media (max-width: 1250px) {
  .list-menu-float {
    left: calc((100vw - var(--table-width)) / 2 + 300px);
  }
  .header {
    left: calc((100vw - var(--table-width)) / 2 + 285px);
  }
}
@keyframes moveSlideshow {
  100% {
    transform: translateX(-200%);
  }
}

/*# sourceMappingURL=custom-style-modern.css.map */
